<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width-width=device-width, initial-scale1-0">
	<meta http-equiv="X-UA-Compatinle " content="ie=edge">
	<title>akuuuu</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
</style>
<body>
<!-- //memanggil fungsi nevigation -->
	<%-  include('tamplate/nevigation.ejs') %>
	
	<h1>welcome to app serli</h1>
	<p>hello, gaess</p>

	<h2>list my hooby: </h2>
	<% hob.forEach((vot) => { %>
	<p> <%= vot %></p>
	<% }) %>

</body>
</html>