<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
	content="width-width=device-width, initial-scale1-0">
	<meta http-equiv="X-UA-Compatinle " content="ie=edge">
	<title>akuuuu</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
</style>
<body>
	<ul>
		<li>
			<a href="/">home</a>
		</li>
		<li>
			<a href="/about">about</a>
		</li>
		<li>
			<a href="/contect">contact</a>
		</li>
		<li>
			<a href="/profile">profile</a>
		</li>
	</ul>
</body>
</html>